<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <nav class="navIndex">
        <div class="navContenidoIzquierdo">
            <h2>Invictus Code</h2>
        </div>
    </nav>
        <section class="contenidoLogin">
            <form class="formularioLogin">
                <h2>Logueate!</h2>
                <p>Ya tienes cuenta? <a href="index.html">create una.</a></p>
                <label for="loginEmail">Ingresa tu email</label>
                <input type="text" id="loginEmailValidate" name="loginEmail">
                <p id="resultLogin"></p>

                <label for="LoginPassword">Ingresa tu contraseña</label>
                <input type="password" id="loginPasswordValidate" name="Loginpassword">
                <button id="buttonLogin" type="button">Login</button>
                <p id="resultPassword"></p>
            </form>
        </section>
    <script src="/script/AppLogin.js" type="module"></script>
</body>
</html>